@import 'colors';

body {
	background-color: $body-color;
}

.new-contact {
	margin: 5px;
}

ul {
	list-style: none;
}

.formError {
	color: red;
}

select[name=degree] {
	color: black;
	font-weight: normal;
	width: 249px;
	margin: 6px;
	padding: 12px;
}