<div class="text-center" id="rated">
	<h1>New Contacts Form</h1>
	{{controller}}

	<form name="new-contact-form" novalidate >
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="text" class="form-control new-contact" name="firstname" ng-model="contact.firstName" placeholder="First name" required>
	    </div>
	</div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="text" class="form-control new-contact" name="lastname" ng-model="contact.lastName" placeholder="Last name" required>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="tel" class="form-control new-contact" name="homephone" ng-model="contact.phoneHome" placeholder="home phone: xxx-xxx-xxxx" required>
	    </div>
	</div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="tel" class="form-control new-contact" name="workphone" ng-model="contact.phoneWork" placeholder="work phone: xxx-xxx-xxxx" required>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="email" class="form-control new-contact" name="homeemail" ng-model="contact.emailHome" placeholder="homeEmail@home.com" required>
	    </div>
	</div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4 mb-3">
	      <input type="email" class="form-control new-contact" name="workemail" ng-model="contact.emailWork" placeholder="workEmail@work.com" required>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4 col-md-offset-4">
	      <textarea class="form-control new-contact" name="notes" ng-model="contact.notes" placeholder="contact notes"></textarea>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-2 col-md-offset-4 mb-3">
	      <button class="btn btn-default" id="addContact" ng-click="saveContact(contact)">Add Contact</Button>
	    </div>
	    <div class="col-md-2 mb-3">
	      <button class="btn btn-danger" type="reset" id="clearConcact">Clear Form</Button>
	    </div>
	  </div>
	</form>