<div class="text-center" id="rated">
	<h1>View Contacts</h1>
	<!-- {{controller}} -->


  	<div class="input-group input-group-md col-xs-6 col-xs-offset-3">
		<!-- <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span> -->
		<input type="text" class="form-control" placeholder="Search for a contact" ng-model="wordz">
	</div>

	<br>

	<div id="contacts">
		<div ng-repeat="contact in contacts | filter:wordz" class="col-md-6">
		    <div class="thumbnail">
		    	<button class="btn btn-default detail" ng-click="contactFavorite(contact)" ng-if="contact.favorite"><i class="fa fa-star" aria-hidden="true"></i></button>
		    	<button class="btn btn-default detail" ng-click="contactFavorite(contact)" ng-if="!contact.favorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>
		    	<button class="btn btn-default detail" ng-click="contactDetail(contact)"><i class="fa fa-search" aria-hidden="true"></i></button>
		    	<button class="btn btn-default detail" ng-click="contactEdit(contact)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
		    	<button class="btn btn-default delete" ng-click="deleteMyContact(contact.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		    	<button class="btn btn-default detail" ng-click="contactLove(contact)" ng-if="contact.love"><i class="fa fa-heart" aria-hidden="true"></i></button>
		    	<button class="btn btn-default detail" ng-click="contactLove(contact)" ng-if="!contact.love"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
			    <div class="contact-info">
			    	<h3>{{contact.firstName}} {{contact.lastName}} </h3>
			    	<ul id="contact-data">
				    	<li><p><span class="left">Highest Degree</span> &nbsp<span class="right">{{contact.degree}}</span></p></li>
				    	<li><p><span class="left">HomePhone</span> &nbsp <span class="right">{{contact.phoneHome}}</span></p></li>
				    	<li><p><span class="left">Home Phone</span> &nbsp <span class="right">{{contact.phoneHome}}</span></p></li>
				    	<li><p><span class="left">Home Email</span> &nbsp <span class="right">{{contact.emailHome}}</span></p></li>
				    	<li><p><span class="left">Work Email</span> &nbsp <span class="right">{{contact.emailWork}}</span></p></li>
				        <li><p><span class="left">Notes</span> &nbsp <span class="right">{{contact.notes}}</span></p></li>
				    </ul>
			    </div>
	     	</div>
		</div>
	</div>



</div>